<table class="sheet-cost">
<caption>Drawing the grid again: which values it computes, and which the cache serves</caption>
<thead><tr><td></td><th scope="col">A</th><th scope="col">B</th><th scope="col">C</th><th scope="col">D</th></tr></thead>
<tbody>
<tr><th scope="row">1</th><td>$r{urn:iki:tutorial:sheet:view:cost:A1}</td><td>$r{urn:iki:tutorial:sheet:view:cost:B1}</td><td>$r{urn:iki:tutorial:sheet:view:cost:C1}</td><td>$r{urn:iki:tutorial:sheet:view:cost:D1}</td></tr>
<tr><th scope="row">2</th><td>$r{urn:iki:tutorial:sheet:view:cost:A2}</td><td>$r{urn:iki:tutorial:sheet:view:cost:B2}</td><td>$r{urn:iki:tutorial:sheet:view:cost:C2}</td><td>$r{urn:iki:tutorial:sheet:view:cost:D2}</td></tr>
<tr><th scope="row">3</th><td>$r{urn:iki:tutorial:sheet:view:cost:A3}</td><td>$r{urn:iki:tutorial:sheet:view:cost:B3}</td><td>$r{urn:iki:tutorial:sheet:view:cost:C3}</td><td>$r{urn:iki:tutorial:sheet:view:cost:D3}</td></tr>
<tr><th scope="row">4</th><td>$r{urn:iki:tutorial:sheet:view:cost:A4}</td><td>$r{urn:iki:tutorial:sheet:view:cost:B4}</td><td>$r{urn:iki:tutorial:sheet:view:cost:C4}</td><td>$r{urn:iki:tutorial:sheet:view:cost:D4}</td></tr>
<tr><th scope="row">5</th><td>$r{urn:iki:tutorial:sheet:view:cost:A5}</td><td>$r{urn:iki:tutorial:sheet:view:cost:B5}</td><td>$r{urn:iki:tutorial:sheet:view:cost:C5}</td><td>$r{urn:iki:tutorial:sheet:view:cost:D5}</td></tr>
<tr><th scope="row">6</th><td>$r{urn:iki:tutorial:sheet:view:cost:A6}</td><td>$r{urn:iki:tutorial:sheet:view:cost:B6}</td><td>$r{urn:iki:tutorial:sheet:view:cost:C6}</td><td>$r{urn:iki:tutorial:sheet:view:cost:D6}</td></tr>
</tbody>
</table>
