<table class="sheet-grid">
<caption>The sheet: the value of each cell</caption>
<thead><tr><td></td><th scope="col">A</th><th scope="col">B</th><th scope="col">C</th><th scope="col">D</th></tr></thead>
<tbody>
<tr><th scope="row">1</th><td>$a{urn:iki:tutorial:sheet:html:A1}</td><td>$a{urn:iki:tutorial:sheet:html:B1}</td><td>$a{urn:iki:tutorial:sheet:html:C1}</td><td>$a{urn:iki:tutorial:sheet:html:D1}</td></tr>
<tr><th scope="row">2</th><td>$a{urn:iki:tutorial:sheet:html:A2}</td><td>$a{urn:iki:tutorial:sheet:html:B2}</td><td>$a{urn:iki:tutorial:sheet:html:C2}</td><td>$a{urn:iki:tutorial:sheet:html:D2}</td></tr>
<tr><th scope="row">3</th><td>$a{urn:iki:tutorial:sheet:html:A3}</td><td>$a{urn:iki:tutorial:sheet:html:B3}</td><td>$a{urn:iki:tutorial:sheet:html:C3}</td><td>$a{urn:iki:tutorial:sheet:html:D3}</td></tr>
<tr><th scope="row">4</th><td>$a{urn:iki:tutorial:sheet:html:A4}</td><td>$a{urn:iki:tutorial:sheet:html:B4}</td><td>$a{urn:iki:tutorial:sheet:html:C4}</td><td>$a{urn:iki:tutorial:sheet:html:D4}</td></tr>
<tr><th scope="row">5</th><td>$a{urn:iki:tutorial:sheet:html:A5}</td><td>$a{urn:iki:tutorial:sheet:html:B5}</td><td>$a{urn:iki:tutorial:sheet:html:C5}</td><td>$a{urn:iki:tutorial:sheet:html:D5}</td></tr>
<tr><th scope="row">6</th><td>$a{urn:iki:tutorial:sheet:html:A6}</td><td>$a{urn:iki:tutorial:sheet:html:B6}</td><td>$a{urn:iki:tutorial:sheet:html:C6}</td><td>$a{urn:iki:tutorial:sheet:html:D6}</td></tr>
</tbody>
</table>
