<table class="sheet-grid">
<caption>The sheet: the value of each cell</caption>
<thead><tr><td></td><th scope="col">A</th><th scope="col">B</th><th scope="col">C</th><th scope="col">D</th></tr></thead>
<tbody>
<tr><th scope="row">1</th><td>$r{urn:iki:tutorial:sheet:view:cell:A1}</td><td>$r{urn:iki:tutorial:sheet:view:cell:B1}</td><td>$r{urn:iki:tutorial:sheet:view:cell:C1}</td><td>$r{urn:iki:tutorial:sheet:view:cell:D1}</td></tr>
<tr><th scope="row">2</th><td>$r{urn:iki:tutorial:sheet:view:cell:A2}</td><td>$r{urn:iki:tutorial:sheet:view:cell:B2}</td><td>$r{urn:iki:tutorial:sheet:view:cell:C2}</td><td>$r{urn:iki:tutorial:sheet:view:cell:D2}</td></tr>
<tr><th scope="row">3</th><td>$r{urn:iki:tutorial:sheet:view:cell:A3}</td><td>$r{urn:iki:tutorial:sheet:view:cell:B3}</td><td>$r{urn:iki:tutorial:sheet:view:cell:C3}</td><td>$r{urn:iki:tutorial:sheet:view:cell:D3}</td></tr>
<tr><th scope="row">4</th><td>$r{urn:iki:tutorial:sheet:view:cell:A4}</td><td>$r{urn:iki:tutorial:sheet:view:cell:B4}</td><td>$r{urn:iki:tutorial:sheet:view:cell:C4}</td><td>$r{urn:iki:tutorial:sheet:view:cell:D4}</td></tr>
<tr><th scope="row">5</th><td>$r{urn:iki:tutorial:sheet:view:cell:A5}</td><td>$r{urn:iki:tutorial:sheet:view:cell:B5}</td><td>$r{urn:iki:tutorial:sheet:view:cell:C5}</td><td>$r{urn:iki:tutorial:sheet:view:cell:D5}</td></tr>
<tr><th scope="row">6</th><td>$r{urn:iki:tutorial:sheet:view:cell:A6}</td><td>$r{urn:iki:tutorial:sheet:view:cell:B6}</td><td>$r{urn:iki:tutorial:sheet:view:cell:C6}</td><td>$r{urn:iki:tutorial:sheet:view:cell:D6}</td></tr>
</tbody>
</table>
